{% extends "base.html"%}

{% block content %}

<div class="container mt-3 mb-5">

    <div class="row mt-5 mb-5 shadow">

        <div class="col-lg-6 shadow p-4">
            <h3>Créer votre compte</h3>

            <form>
                <div class="form-group">
                    <label for="exampleInputText1">Prénom </label>
                    <input type="text" class="form-control" id="exampleInputText" aria-describedby="TextHelp">
                  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputText1">Nom </label>
                    <input type="text" class="form-control" id="exampleInputText" aria-describedby="TextHelp">
                   
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Adresse Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager votre email.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Répétez votre Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">selectionnez</label>
                </div>
                <button type="submit" class="btn btn-primary">Crééz votre compte</button>
              </form>
        </div>
        <div class="col-lg-6">

            <img src="https://www.cvent.com/sites/default/files/styles/focus_scale_and_crop_800x450/public/image/2021-08/gold%20sign%20on%20exterior%20of%20hotel.jpg?h=140710cd&itok=VirV0yDB" alt="" class="img-fluid img-responsive">



        </div>
    </div>
</div>


{%endblock %}